@model SWC.Models.tb_VentaBoleto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Está seguro de eliminar este registro?</h3>
<div>
    <h4>Venta de boletos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Fecha: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayName("Cantidad: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayName("Total: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayName("Empleado: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_empleado.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Función: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_funcion.nombre_funcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al listado", "Index")
        </div>
    }
</div>
