@model IEnumerable<SWC.Models.tb_VentaBoleto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Ventas</h2>

<p>
    @Html.ActionLink("Registrar nueva venta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Fecha")
        </th>
        <th>
            @Html.DisplayName("Cantidad")
        </th>
        <th>
            @Html.DisplayName("Total")
        </th>
        <th>
            @Html.DisplayName("Nombre de cliente")
        </th>
        <th>
            @Html.DisplayName("Nombre de empleado")
        </th>
        <th>
            @Html.DisplayName("Nombre de la función")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_cliente.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_empleado.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_funcion.nombre_funcion)
        </td>
        <td>
            @Html.ActionLink("Detalle", "Details", new { id=item.idVentaB }) |
        </td>
    </tr>
}

</table>
