@model SWC.Models.tb_funcion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Está seguro de eliminar este registro?</h3>
<div>
    <h4>Función</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre de la función: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_funcion)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de inicio de la función: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de fin de la función: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fin)
        </dd>

        <dt>
            @Html.DisplayName("Número de la sala: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nroSala)
        </dd>

        <dt>
            @Html.DisplayName("Hora de la función: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_funcion)
        </dd>

        <dt>
            @Html.DisplayName("Nombre de la película: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_pelicula.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Sala: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_sala.desSala)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al listado", "Index")
        </div>
    }
</div>
