@model SWC.Models.tb_funcion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tb_funcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_funcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_funcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nroSala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nroSala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora_funcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_funcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_pelicula.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_pelicula.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_sala.desSala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_sala.desSala)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
