@model IEnumerable<SWC.Models.tb_VentaProducto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_empleado.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_empleado.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idVentaP }) |
            @Html.ActionLink("Details", "Details", new { id=item.idVentaP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idVentaP })
        </td>
    </tr>
}

</table>
