@model IEnumerable<SWC.Models.tb_VentaProducto>

@{
    ViewBag.Title = "VentaProductosActuales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Venta de Productos de Hoy</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Fecha: ")
        </th>
        <th>
            @Html.DisplayName("Total: ")
        </th>
        <th>
            @Html.DisplayName("Empleado: ")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_empleado.nombre)
        </td>
    </tr>
}

</table>
