@model SWC.Models.tb_pelicula

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_pelicula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Foto: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>

        <dt>
            @Html.DisplayName("Sinopsis: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sinopsis)
        </dd>

        <dt>
            @Html.DisplayName("Duración: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracion)
        </dd>

        <dt>
            @Html.DisplayName("Trailer: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trailer)
        </dd>

        <dt>
            @Html.DisplayName("País: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

        <dt>
            @Html.DisplayName("Censura: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_censura.desCensura)
        </dd>

        <dt>
            @Html.DisplayName("Género: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_genero.desGenero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idPelicula }) |
    @Html.ActionLink("Listado", "Index")
</p>
