@model IEnumerable<SWC.Models.tb_empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sueldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_Sexo.desSexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_tipotrabajador.desTipotrab)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sueldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecNac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_Sexo.desSexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_tipotrabajador.desTipotrab)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEmpleado }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEmpleado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEmpleado })
        </td>
    </tr>
}

</table>
